.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 24px;
}

.u-section-1 .u-text-1 {
  margin: 0 570px 0 -80px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 328px;
    margin-left: -62px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 15px;
    margin-left: -47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: -35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: -22px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 410px;
}

.u-section-2 .u-text-1 {
  width: 494px;
  margin: 57px auto 0;
}

.u-section-2 .u-form-1 {
  height: 157px;
  width: 570px;
  margin: 58px auto 60px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}