.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 32px;
}

.u-section-1 .u-text-1 {
  margin: 8px 1065px 0 -75px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 40px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 760px;
    margin-bottom: 8px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 540px;
    margin-left: -47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 24px;
  }

  .u-section-1 .u-text-1 {
    margin: 0 359px 0 -34px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 170px;
    margin-left: -32px;
  }
}.u-section-2 {
  background-image: url("images/covid_logo1.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 206px;
}

.u-section-2 .u-text-1 {
  margin: 73px 967px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 767px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 547px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-right: 367px;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 81px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 167px;
  }
}.u-section-3 {
  min-height: 410px;
}

.u-section-3 .u-text-1 {
  margin: 0 278px 0 279px;
}

.u-section-3 .u-slider-1 {
  min-height: 431px;
  margin-top: -148px;
  margin-bottom: -109px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/boss.jpg");
  background-position: 50% 5.25%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  text-shadow: 2px 2px 23px rgba(85,92,102,1);
  margin: 186px 49px 0 780px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.05), rgba(255,255,255,0.05)), url("images/employee.jpg");
  background-position: 50% 29.35%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  text-shadow: 2px 2px 21px rgba(41,45,51,1);
  margin: 186px -775px 0 715px;
}

.u-section-3 .u-btn-2 {
  box-shadow: 2px 2px 21px 0 rgba(0,0,0,0);
  padding: 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 80px;
  height: 80px;
  background-image: linear-gradient(#d9d9d9, #db545a);
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 80px;
  height: 80px;
  background-image: linear-gradient(#d9d9d9, #db545a);
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 743px;
    margin-left: 179px;
    margin-right: 178px;
  }

  .u-section-3 .u-slider-1 {
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 40px;
    margin-left: 629px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 49px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: 30px;
    margin-left: 409px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 366px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-slider-1 {
    min-height: 366px;
    margin-top: -200px;
    margin-bottom: -161px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 24px;
    margin-left: 269px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 274px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-slider-1 {
    min-height: 274px;
    margin-top: -206px;
    margin-bottom: -180px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 15px;
    margin-left: 69px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 18px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.75), rgba(51,51,51,0.75)), url("images/doctors.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 580px;
}

.u-section-4 .u-text-1 {
  width: 538px;
  margin: 23px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 12px auto 23px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 478px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 366px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 275px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 910px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 12px 0 54px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 138px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 60px 15px 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  line-height: 39.6px;
  text-transform: none;
  font-weight: 400;
  margin: 20px 257px 0 317px;
}

.u-section-5 .u-icon-1 {
  height: 47px;
  width: 47px;
  margin: -43px auto 0 258px;
}

.u-section-5 .u-image-1 {
  min-height: 706px;
  background-image: url("images/__flowchart.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 113px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 267px;
    margin-right: 207px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 20px;
    margin-right: 207px;
    margin-left: 267px;
  }

  .u-section-5 .u-image-1 {
    min-height: 583px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 447px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 187px;
    margin-right: 127px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 127px;
    margin-left: 187px;
  }

  .u-section-5 .u-image-1 {
    min-height: 670px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 87px;
    margin-right: 27px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -43px;
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-5 .u-image-1 {
    min-height: 225px;
  }
}