.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/covid_logo1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 360px;
}

.u-section-1 .u-text-1 {
  margin: 75px 40px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 13px 40px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 65px auto 60px 0;
  padding: 16px 46px 17px;
}

.u-section-1 .u-icon-1 {
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 227px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 107px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/55e5d5404d54b108f5d084609629317e113fdce15b4c704f75267cd19749c050_1280.jpg");
  background-position: 50% 50%;
  background-size: 120%;
}

.u-section-2 .u-sheet-1 {
  min-height: 468px;
}

.u-section-2 .u-text-1 {
  margin: 51px 695px 0 0;
}

.u-section-2 .u-list-1 {
  width: 476px;
  min-height: 316px;
  grid-gap: 20px 20px;
  grid-template-columns: 100%;
  margin: -52px 76px 0 auto;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 20px rgba(229,229,229,0.25);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 343px 0 20px;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 20px rgba(229,229,229,0.25);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 343px 0 20px;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 20px rgba(229,229,229,0.25);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0 343px 0 20px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 170px 47px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 495px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 36px;
    margin-right: 135px;
    margin-bottom: 31px;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 275px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 95px;
  }

  .u-section-2 .u-list-1 {
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 18px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 18px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 18px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 95px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 227px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 227px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 227px;
    margin-left: 11px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 132px;
}

.u-section-3 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 292px;
  min-width: 160px;
  white-space: nowrap;
  margin: 36px auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}